{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to ShakespeareQL{% endblock %}</h1>

    <form method="post">
        <div class="form-group">
            
            <input type="text" name="searchLine"
                   placeholder="Enter a line you kinda remember" class="form-control"
                   value="{{ request.form['line'] }}"></input>
        </div>

    </form>

    
    <!-- prints out length of search -->
    {% if length > 0 %}
    <div>There are {{length}} lines matching you search</div>
    <hr>
    <br>

    {% endif %}

    {% for line in lines %}
        
        <p>{{ line['playerline'] }}</p>
        <p>{{ line['player'] }}</p>
        <p>ACT: {{ line['act']}},Scene: {{ line['scene']}},Line: {{ line['line']}}</p>
        <p>Play: {{ line['play']}}</p>
        <a href="{{ url_for('scene')}}?play={{line['play']}}&act={{line['act']}}&scene={{line['scene']}}">Go to full scene</a>
        <hr>
    {% endfor %}
{% endblock %}

