{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>

    <form method="post">
        <div class="form-group">
            <label for="searchLine">Line</label>
            <input type="text" name="searchLine"
                   placeholder="Enter a line you kinda remember" class="form-control"
                   value="{{ request.form['line'] }}"></input>
        </div>

    </form>
    {% for line in lines %}
            <p>{{ line['playerline'] }}</p>
        <span>{{ line['player'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}

